# Python cruft
*.pyc
__pycache__
*.egg-info
.venv
.pytest_cache
dist

# Editor cruft
.vscode
.*.swp

# Secrets
.env.test

# Docs
docs/_build/
docs/source/CONTRIBUTING.md
docs/source/reference/generated/

# codecov
.coverage
codecov
coverage.xml

# vcrpy
usa_00136.dat.gz
usa_00136.xml
usa_00136.do
usa_00136.R
usa_00136.sas
usa_00136.sps