# Python cruft
*.pyc
__pycache__
*.egg-info
.venv
.pytest_cache
dist
.python-version

# Editor cruft
.vscode
.*.swp

# Secrets
.env.test
.env

# Docs
docs/_build/
docs/source/CONTRIBUTING.md
docs/source/reference/generated/

# codecov
.coverage
codecov
coverage.xml

# pycharm ide settings
.idea/

# Ignore .DS_Store files
.DS_Store
