interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/data_tables?collection=nhgis&version=2&pageSize=5
  response:
    body:
      string: '{"data":[{"name":"NT1","description":"Total Population","universe":"Persons","nhgisCode":"AAA","sequence":1,"datasetName":"1790_cPop","nVariables":1},{"name":"NT2","description":"Urban
        Population (Incorporated Places 2,500 and Over)","universe":"Urban Persons
        (Incorporated Places 2,500 and Over)","nhgisCode":"AAK","sequence":2,"datasetName":"1790_cPop","nVariables":1},{"name":"NT3","description":"Urban
        Population in Cities of 25,000 and Over","universe":"Urban Persons in Cities
        of 25,000 and Over","nhgisCode":"AAN","sequence":3,"datasetName":"1790_cPop","nVariables":1},{"name":"NT4","description":"White
        Males and Estimated White Females by Sex by Age","universe":"White Persons","nhgisCode":"AAO","sequence":4,"datasetName":"1790_cPop","nVariables":4},{"name":"NT5","description":"White
        Population by Sex","universe":"White Persons","nhgisCode":"AAP","sequence":5,"datasetName":"1790_cPop","nVariables":2}],"pageNumber":1,"pageSize":5,"totalCount":51509,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/metadata/data_tables?collection=nhgis\u0026pageNumber=2\u0026pageSize=5\u0026version=2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd3794269c9809daa900272cdf65cd5b"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/data_tables?collection=nhgis&pageNumber=2&pageSize=5&version=2
  response:
    body:
      string: '{"data":[{"name":"NT6","description":"Race/Slave Status","universe":"Persons","nhgisCode":"AAQ","sequence":6,"datasetName":"1790_cPop","nVariables":3},{"name":"NT9","description":"Total
        Number of Families","universe":"Families","nhgisCode":"AAR","sequence":7,"datasetName":"1790_cPop","nVariables"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/data_tables?collection=nhgis&pageNumber=101&pageSize=5&version=2
  response:
    body:
      string: "{\n    \"error\": \"Rate limit exceeded\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Generator:
      - tyk.io
    status:
      code: 429
      message: Too Many Requests
version: 1
