interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/datasets/1990_STF1?collection=nhgis&pageSize=2500&version=2
  response:
    body:
      string: '{"name":"1990_STF1","nhgisId":"ds120","group":"1990 Census","description":"STF
        1 - 100% Data","sequence":4301,"hasMultipleDataTypes":false,"dataTables":[{"name":"NP1","description":"Persons","universe":"Persons","nhgisCode":"ET1","sequence":1,"datasetName":"1990_STF1","nVariables":1},{"name":"NP2","description":"Families","universe":"Families","nhgisCode":"EUD","sequence":2,"datasetName":"1990_STF1","nVariables":1},{"name":"NP3","description":"Households","universe":"Households","nhgisCode":"EUO","sequence":3,"datasetName":"1990_STF1","nVariables":1},{"name":"NP4","description":"Urban
        and Rural","universe":"Persons","nhgisCode":"EUW","sequence":4,"datasetName":"1990_STF1","nVariables":4},{"name":"NP5","description":"Sex","universe":"Persons","nhgisCode":"EUX","seq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/datasets/2017_2021_ACS5a/data_tables/B01001?collection=nhgis&pageSize=2500&version=2
  response:
    body:
      string: '{"name":"B01001","description":"Sex by Age","universe":"Total population","nhgisCode":"AONT","sequence":1,"datasetName":"2017_2021_ACS5a","variables":[{"description":"Total","nhgisCode":"AONT001"},{"description":"Male","nhgisCode":"AONT002"},{"description":"Male:
        Under 5 years","nhgisCode":"AONT003"},{"description":"Male: 5 to 9 years","nhgisCode":"AONT004"},{"description":"Male:
        10 to 14 years","nhgisCode":"AONT005"},{"description":"Male: 15 to 17 years","nhgisCode":"AONT006"},{"description":"Male:
        18 and 19 years","nhgisCode":"AONT007"},{"description":"Male: 20 years","nhgisCode":"AONT008"},{"description":"Male:
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/time_series_tables/CW3?collection=nhgis&pageSize=2500&version=2
  response:
    body:
      string: '{"name":"CW3","description":"Persons by Age [22]","geographicIntegration":"Standardized
        to 2010","sequence":103.05,"timeSeries":[{"name":"AA","description":"Persons:
        Under 5 years","sequence":1},{"name":"AB","description":"Persons: 5 to 9 years","sequence":2},{"name":"AC","description":"Persons:
        10 to 14 years","sequence":3},{"name":"AD","description":"Persons: 15 to 17
        years","sequence":4},{"name":"AE","description":"Persons: 18 and 19 years","sequence":5},{"name":"AF","description":"Persons:
        20 years","sequence":6},{"name":"AG","description":"Persons: 21 years","sequence":7},{"name":"AH"[...]
