interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/datasets?collection=nhgis&version=2&pageSize=5
  response:
    body:
      string: '{"data":[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States \u0026 Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":501}],"pageNumber":1,"pageSize":5,"totalCount":261,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/metadata/datasets?collection=nhgis\u0026pageNumber=2\u0026pageSize=5\u0026version=2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7e3011132a3184ed0b17d1f992a9334"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/metadata/samples?collection=usa&version=2&pageSize=5
  response:
    body:
      string: '{"data":[{"name":"us1850a","description":"1850 1%"},{"name":"us1850c","description":"1850
        100% sample (Revised November 2023)"},{"name":"us1860a","description":"1860
        1%"},{"name":"us1860b","description":"1860 1% sample with black oversample"},{"name":"us1860c","description":"1860
        100% sample (Revised November 2023)"}],"pageNumber":1,"pageSize":5,"totalCount":146,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/metadata/samples?collection=usa\u0026pageNumber=2\u0026pageSize=5\u0026version=2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"407985790e783a8f7798ff151b8e4acc"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
