interactions:
- request:
    body: '{"description": "My IPUMS extract", "data_format": "fixed_width", "data_structure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {}, "SEX": {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=beta
  response:
    body:
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"My
        IPUMS extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"download_links":{},"number":137,"status":"queued"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e7d5ca95bd0a6c514891592ee83a5ff"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/137?collection=usa&version=beta
  response:
    body:
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"My
        IPUMS extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"download_links":{},"number":137,"status":"queued"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e7d5ca95bd0a6c514891592ee83a5ff"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {}, "SEX": {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"number":170,"status":"queued","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3a3eea618e3e8537c9a80821ca5d23a"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/170?collection=usa&version=2
  response:
    body:
      string: '{"number":170,"status":"queued","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3a3eea618e3e8537c9a80821ca5d23a"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/176?collection=usa&version=2
  response:
    body:
      string: '{"number":176,"status":"started","email":"rodge103@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1981682/usa_00176.R","bytes":406,"sha256":null},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1981682/usa_00176.sas","bytes":0,"sha256":null},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1981682/usa_00176.cbk","bytes":10872,"sha256":null},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1981682/usa_00176.do","bytes":16109,"sha256":null},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1981682/usa_00176.xml","bytes":48251,"sha256":null}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3437bcd0ed64d8c7a513505484e2237c"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
[...]
