interactions:
- request:
    body: '{"description": "", "dataFormat": "csv_no_header", "collection": "nhgis",
      "version": 2, "datasets": {"a": {"dataTables": "b", "geogLevels": "c", "years":
      "d", "breakdownValues": []}}, "breakdownAndDataTypeLayout": "single_file", "timeSeriesTables":
      {"A": {"geogLevels": "b", "years": []}}, "timeSeriesTableLayout": "time_by_column_layout",
      "shapefiles": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=nhgis&version=2
  response:
    body:
      string: '{"type":"SchemaValidationError","status":{"code":400,"name":"Bad Request"},"detail":["The
        property ''#/datasets/a/dataTables'' of type string did not match the following
        type: array.","The property ''#/datasets/a/geogLevels'' of type string did
        not match the following type: array.","The property ''#/datasets/a/years''
        of type string did not match the following type: array.","The property ''#/timeSeriesTables/A/geogLevels''
        of type string did not match the following type: array."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
version: 1
