interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/1?collection=usa&version=beta
  response:
    body:
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"spss","description":"Hist
        3011 extract","samples":{"us1960a":{},"us1970c":{},"us1980b":{},"us1990c":{},"us2000c":{},"us1940a":{}},"variables":{"AGE":{},"SEX":{},"MARST":{},"FAMSIZE":{},"NCHILD":{},"RACE":{},"BPL":{},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{},"number":1,"status":"completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7153987832a8133165c8d71056d8c2c1"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/1?collection=usa&version=2
  response:
    body:
      string: '{"number":1,"status":"completed","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"spss","caseSelectWho":"individuals","description":"Hist
        3011 extract","samples":{"us1960a":{},"us1970c":{},"us1980b":{},"us1990c":{},"us2000c":{},"us1940a":{}},"variables":{"AGE":{},"SEX":{},"MARST":{},"FAMSIZE":{},"NCHILD":{},"RACE":{},"BPL":{},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8a18dc8f1df4005dbb19767895cc46d"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
[...]
