interactions:
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"hierarchical": {}}, "samples": {"us2017a": {}}, "variables": {"AGE": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"number":417,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2017a":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a8924f9ff94f2543d9629f891197846"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
