interactions:
- request:
    body: '{"description": "My IPUMS NHIS extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "Y"}}, "samples": {"ih2016": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}, "SEX": {"preselected": false, "caseSelections":
      {}, "attachedCharacteristics": [], "dataQualityFlags": false}, "IRCAUSE": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false}}, "collection": "nhis", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=nhis&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Focal Record Type is not valid"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
version: 1
