interactions:
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AG":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid variable name: AG"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"YRIMMIG":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["YRIMMIG: This variable is not available in any of the
        samples currently selected."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012x": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid sample name: us2012x"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"hierarchical": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["The property ''#/dataStructure/hierarchical'' contains
        additional properties [\"on\"] outside of the schema when none are allowed."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
[...]
