interactions:
- request:
    body: '{"description": "My IPUMS extract", "data_format": "fixed_width", "data_structure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {}, "SEX": {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=beta
  response:
    body:
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"My
        IPUMS extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"download_links":{},"number":137,"status":"queued"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e7d5ca95bd0a6c514891592ee83a5ff"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/137?collection=usa&version=beta
  response:
    body:
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"My
        IPUMS extract","samples":{"us2012b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"download_links":{},"number":137,"status":"queued"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e7d5ca95bd0a6c514891592ee83a5ff"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
