interactions:
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"hierarchical": {}}, "samples": {"us2012b": {}}, "variables": {"AGE": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false}, "SEX": {"preselected": false, "caseSelections": {}, "attachedCharacteristics":
      [], "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"number":205,"status":"queued","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2012b":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5681d3d3e4b1bd7f008f395683620dab"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/205?collection=usa&version=2
  response:
    body:
      string: '{"number":205,"status":"queued","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS USA extract","samples":{"us2012b":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{}},"collection":"usa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5681d3d3e4b1bd7f008f395683620dab"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
