interactions:
- request:
    body: '{"description": "My IPUMS International extract", "dataFormat": "fixed_width",
      "dataStructure": {"rectangular": {"on": "P"}}, "samples": {"am2011a": {}}, "variables":
      {"AGE": {"preselected": false, "caseSelections": {}, "attachedCharacteristics":
      ["father2"], "dataQualityFlags": false}, "SEX": {"preselected": false, "caseSelections":
      {}, "attachedCharacteristics": [], "dataQualityFlags": false}}, "collection":
      "ipumsi", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=ipumsi&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Attached variable AGE requested for a same-sex parent,
        but attached characteristics support in IPUMS-International is limited to
        ''father'', ''head'', ''mother'', and ''spouse''."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
version: 1
