interactions:
- request:
    body: '{"description": "My IPUMS CPS extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"cps2012_03s": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false, "adjustMonetaryValues": false}, "SEX": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false, "adjustMonetaryValues": true}, "HOURWAGE": {"preselected": false, "caseSelections":
      {}, "attachedCharacteristics": [], "dataQualityFlags": false, "adjustMonetaryValues":
      false}}, "collection": "cps", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=cps&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Monetary value adjustment is not supported for SEX."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS ATUS extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"at2012": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false, "adjustMonetaryValues": false}, "SEX": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false, "adjustMonetaryValues": false}, "EARNWEEK": {"preselected": false, "caseSelections":
      {}, "attachedCharacteristics": [], "dataQualityFlags": false, "adjustMonetaryValues":
      true}}, "collection": "atus", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=atus&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Monetary value adjustment is not supported for IPUMS
        ATUS"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
version: 1
