interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/433?collection=cps&version=2
  response:
    body:
      string: '{"number":433,"status":"completed","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"my
        extract","samples":{"cps2023_01s":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"HWTFINL":{"preselected":true},"CPSID":{"preselected":true},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fd406cc439cb9f107408fd5ebd22c10"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/6?collection=ipumsi&version=2
  response:
    body:
      string: '{"number":6,"status":"completed","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"My
        IPUMS International extract","samples":{"am2011a":{}},"variables":{"COUNTRY":{"preselected":true},"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"HHWT":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"AGE":{},"SEX":{}},"collection":"ipumsi"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2949c626d23a65e8103bbf47b48ce16"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/95?collection=cps&version=2
  response:
    body:
      string: '{"number":95,"status":"completed","email":"rodge103@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"csv","caseSelectWho":"individuals","description":"2010-2015
        family pointers (CSV)","samples":{"cps2010_03s":{},"cps2011_03s":{},"cps2010_01s":{},"cps2010_02b":{},"cps2010_04b":{},"cps2010_03b":{},"cps2010_05s":{},"cps2010_06s":{},"cps2010_07s":{},"cps2010_09s":{},"cps2010_10s":{},"cps2010_12s":{},"cps2012_03s":{},"cps2013_03s":{},"cps2010_11s":{},"cps2011_01s":{},"cps2011_02b":{},"cps2011_03b":{},"cps2011_04b":{},"cps2011_06s":{},"cps2011_07s":{},"cps2011_08s":{},"cps2011_09s":{},"cps2011_10s":{},"cps2011_11s":{},"cps2011_12s":{},"cps2012_01s":{},"cps2012_02b":{},"cps2012_03b":{},"cps2012_04b":{},"cps2012_05s":{},"cps2012_06s":{},"cps2012_08s":{},"cps2012_09s":{},"cps2012_10s":{},"cps2012_11s":{},"cps2012_12s":{},"cps2013_01b":{},"cps2013_02s":{},"cps2013_03b":{},"cps2013_04b":{},"cps2013_05b":{},"cps2013_06s":{},"cps2013_07s":{},"cps2013_08s":{},"cps2013_09s":{},"cps2013_10s":{},"cps2013_11s":{},"cps2013_12s":{},"cps2014_03s":{},"cps2010_08s":{},"cps2014_01s":{},"cps2014_02s":{},"cps2014_03b":{},"cps2014_04b":{},"cps2014_05b":{},"cps2014_06s":{},"cps2014_07s":{},"cps2014_08s":{},"cps2014_09s":{},"cps2014_10s":{},"cps2014_11s":{},"cps2014_12s":{},"cps2015_03s":{},"cps2015_01s":{},"cps2015_02s":{},"cps2015_03b":{},"cps2015_04b":{},"cps2015_05s":{},"cps2015_06s":{},"cps2015_07s":{},"cps2015_08s":{},"cps2015_09s":{},"cps2015_10s":{},"cps2015_11b":{},"cps2015_12s":{}},"variables":{"MOMLOC":{},"MOMRULE":{},"POPLOC":{},"POPRULE":{},"SPLOC":{},"SPRULE":{},"FAMSIZE":{},"NCHILD":{},"NCHLT5":{},"FAMUNIT":{},"ELDCH":{},"YNGCH":{},"NSIBS":{},"NFAMS":{},"NCOUPLES":{},"NMOTHERS":{},"NFATHERS":{},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"HWTFINL":{"preselected":true},"PERNUM":{"preselected":true},"MONTH":{"preselected":true},"HWTSUPP":{},"WTSUPP":{},"WTFINL":{"preselected":true},"CPSID":{"preselected":true},"CPSIDP":{"preselected":true},"ASECFLAG":{"preselected":true},"HFLAG":{"preselected":true}},"collection":"cps"},"warnings":["The
        following samples were dropped, as they are no longer available: cps2011_05b,
        cps2012_07b","The following variables were dropped, as they are no longer
        available: STEPMOM, STEPPOP"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b35b767d32fbcd5787654ca9ea3770dc"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
