interactions:
- request:
    body: '{"description": "Simple extract for ipumspy unit testing", "dataFormat":
      "csv_no_header", "collection": "nhgis", "version": 2, "datasets": {"1990_STF1":
      {"dataTables": ["NP1"], "geogLevels": ["state"], "years": [], "breakdownValues":
      []}}, "breakdownAndDataTypeLayout": "single_file", "timeSeriesTables": {}, "timeSeriesTableLayout":
      "time_by_column_layout", "shapefiles": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=nhgis&version=2
  response:
    body:
      string: '{"number":1400,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"Simple
        extract for ipumspy unit testing","datasets":{"1990_STF1":{"dataTables":["NP1"],"geogLevels":["state"],"years":[],"breakdownValues":[]}},"timeSeriesTables":{},"timeSeriesTableLayout":"time_by_column_layout","shapefiles":[],"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb53f9e2e778b021c28c18d42f032ac1"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
