interactions:
- request:
    body: '{"description": "Simple extract for ipumspy unit testing", "dataFormat":
      "csv_no_header", "collection": "nhgis", "version": 2, "datasets": {"1990_STF1":
      {"dataTables": ["NP1"], "geogLevels": ["state"], "years": [], "breakdownValues":
      []}}, "breakdownAndDataTypeLayout": "single_file", "timeSeriesTables": {}, "timeSeriesTableLayout":
      "time_by_column_layout", "shapefiles": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=nhgis&version=2
  response:
    body:
      string: '{"number":1383,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"Simple
        extract for ipumspy unit testing","datasets":{"1990_STF1":{"dataTables":["NP1"],"geogLevels":["state"],"years":[],"breakdownValues":[]}},"timeSeriesTables":{},"timeSeriesTableLayout":"time_by_column_layout","shapefiles":[],"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"877bff7543fd0c0437f90315b1b649dd"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ipums.org/extracts/1383?collection=nhgis&version=2
  response:
    body:
      string: '{"number":1383,"status":"started","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"Simple
        extract for ipumspy unit testing","datasets":{"1990_STF1":{"dataTables":["NP1"],"geogLevels":["state"],"breakdownValues":["bs09.ge00"]}},"timeSeriesTableLayout":"time_by_column_layout","version":2,"collection":"nhgis"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ba17ec59179f904d9507cb8141caec5"
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
