interactions:
- request:
    body: '{"description": "My IPUMS extract", "data_format": "fixed_width", "data_structure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AG":
      {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=beta
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid variable name: AG"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS extract", "data_format": "fixed_width", "data_structure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"YRIMMIG":
      {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=beta
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["YRIMMIG: This variable is not available in any of the
        samples currently selected."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS extract", "data_format": "fixed_width", "data_structure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012x": {}}, "variables": {"AGE":
      {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=beta
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid sample name: us2012x"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AG":
      {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid variable name: AG"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012x": {}}, "variables": {"AGE":
      {}}, "collection": "usa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid sample name: us2012x"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
version: 1
