interactions:
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {"general": ["200"]}, "attachedCharacteristics":
      [], "dataQualityFlags": false}, "SEX": {"preselected": false, "caseSelections":
      {}, "attachedCharacteristics": [], "dataQualityFlags": false}, "RACE": {"preselected":
      false, "caseSelections": {}, "attachedCharacteristics": [], "dataQualityFlags":
      false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Invalid general case selection of 200 for variable AGE"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"description": "My IPUMS USA extract", "dataFormat": "fixed_width", "dataStructure":
      {"rectangular": {"on": "P"}}, "samples": {"us2012b": {}}, "variables": {"AGE":
      {"preselected": false, "caseSelections": {}, "attachedCharacteristics": [],
      "dataQualityFlags": false}, "SEX": {"preselected": false, "caseSelections":
      {"detailed": ["100"]}, "attachedCharacteristics": [], "dataQualityFlags": false},
      "RACE": {"preselected": false, "caseSelections": {}, "attachedCharacteristics":
      [], "dataQualityFlags": false}}, "collection": "usa", "version": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ipums.org/extracts?collection=usa&version=2
  response:
    body:
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Detailed case selection made but detailed variable not
        found for SEX."]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    status:
      code: 400
      message: Bad Request
[...]
